*.o
*.bak
*.launch
*.log
**/Debug/
**/flash_debug/
**/Release/
**/flash_release/
**/.metadata/
**/.settings/
**/.mcuxpressoide_packages_support/
GG_VIT/lib/
GG_VIT/lvgl/
GG_VIT/sdk/

#IAR
settings/
*.ewt
*.ewd
*.dep

#Xtensa
*_debug.bin
**/xtensa/Makefile
GUI_AppWizard/FileList.txt
