*.o
*.bak
*.launch
*.log

Debug/**/makefile
Debug/**/*.d
Debug/**/*.su
Debug/**/*.mk
Debug/**/*.xml
Debug/**/*.dtd
Debug/**/*.axf
Debug/**/*.hex
Debug/**/*.map
Debug/**/*.bin
Debug/**/*.srec
Debug/**/*.s19
Debug/**/*.swd

Release/**/makefile
Release/**/*.d
Release/**/*.su
Release/**/*.mk
Release/**/*.xml
Release/**/*.dtd
Release/**/*.axf
Release/**/*.hex
Release/**/*.map
Release/**/*.bin
Release/**/*.srec
Release/**/*.s19
Release/**/*.swd


**/flash_debug/
**/flash_release/
**/.metadata/
**/.settings/
**/.mcuxpressoide_packages_support/
GG_VIT/lib/
GG_VIT/lvgl/
GG_VIT/sdk/

#IAR
settings/
*.ewt
*.ewd
*.dep

#Xtensa
*_debug.bin
**/xtensa/Makefile
GUI_AppWizard/FileList.txt
/Release/
/Debug/
